
<div class="hp-banner">
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter">
        <div class="hp-title">
          <h1 class="vticker-list">
            <ul>
                <li>Engage</li>
                <li>Strengthen</li>
                <li>Retain</li>
                <li>Grow</li>
                <li>Manage</li>
                <li>Monetize</li>
                <li>Analyze</li>
                <li>Own</li>
            </ul>
            <span class="vticker-side">your online community</span>
          </h1>
          <div class="cta-product btn btn-info">
            view product demo
          </div>
        </div>
        <div class="hp-chevron pulse">
          <a href="#product-showcase">
            <i class="fa fa-chevron-down"></i>
          </a>
        </div>
      </div>
        <video autoplay loop class="fillWidth">
          <source src="<%= asset_path('bkgd_videos/typing.mp4') %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
          <source src="<%= asset_path('bkgd_videos/typing.webm') %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
      <div class="poster hidden">
        <img src="<%= asset_path('bkgd_videos/typing.jpg') %>" alt="">
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
<div class="product-showcase" id="product-showcase">
  <div class="features-title">
    <h1>
      Your Onsite Discussions
    </h1>
    <h4>
      <em> taken to the next level </em>
    </h4>
  </div>
  <div class="demo-product">
    <div class="container">
      <div class="row">
        <% @demo_product.each_with_index do |product, index| %>
          <% if (index % 2) == 0 %>
            <div class="item" style="margin-left: -50px;">
              <div class="col-xs-12 col-sm-6">
                <div class="picture">
                  <img src="<%= asset_path(product[:picture]) %>" width="479px" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6" style="display:flex;">
                <div class="description">
                    <i class="fa <%= product[:fa] %>"></i>
                    <div class="text-wrapper">
                      <div class="title"><%= product[:title] %></div>
                      <div class="text"><%= product[:text] %></div>
                    </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="item" style="margin-left: 50px;">
              <div class="col-xs-12 col-sm-6">
                <div class="picture">
                  <img src="<%= asset_path(product[:picture]) %>" width="479px" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6" style="display:flex;">
                <div class="description">
                    <i class="fa <%= product[:fa] %>"></i>
                    <div class="text-wrapper">
                      <div class="title"><%= product[:title] %></div>
                      <div class="text"><%= product[:text] %></div>
                    </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
  <div class="iframe hidden">
    <div class="close-module">
      <i class="fa fa-times"></i>
    </div>
    <iframe width="550px" height="2350px" src="https://apopapp.herokuapp.com/" frameborder="0" allowfullscreen></iframe>
  </div>
<div class="divider"></div>


<div class="features-container pad-h-100" id="features">
  <div class="features-title">
    <h1>
      Grow your business
    </h1>
    <h4>
      <em> with a smart comment strategy </em>
    </h4>
  </div>
  <div class="features-items">
    <div class="container">
      <div class="row">
        <% @features.each do |feature| %>
          <div class="col-xs-12 col-sm-4">
            <div class="feature-item">
              <div class="feature-item-picto">
                <i class="fa <%= feature[:fa] %>"></i>
              </div>
              <h4 class="feature-item-title">
                <%= feature[:title] %>
              </h4>
              <p class="feature-item-description pad-20">
                <%= feature[:content] %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="moderation-features pad-h-100" id="moderation">
  <div class="features-title">
    <h1>
      Manage comments
    </h1>
    <h4>
      <em> with actionnable analytics & data </em>
    </h4>
  </div>
  <div class="moderation-items">
    <div class="container">
      <div class="row">
        <% @moderation.each do |feature| %>
          <div class="col-xs-8 col-xs-offset-2">
            <div class="moderation-card">
              <div class="moderation-wrapper" id="<%= feature[:id] %>">
                <div class="moderation-picto">
                  <i class="fa <%= feature[:fa] %>"></i>
                </div>
                <div class="moderation-content">
                  <h3 class="moderation-card-title">
                    <%= feature[:title] %>
                  </h3>
                  <p class="moderation-card-text">
                    <%= feature[:text] %> <span class="view-more">view more</span>
                  </p>
                </div>
              </div>
            <% if feature[:id] == "cust-moderation" %>
              <%= render partial: "settings", locals: {settings: @moderation_settings, feature: feature[:id]} %>
            <% elsif feature[:id] == "cust-design" %>
              <%= render partial: "settings", locals: {settings: @design_settings, feature: feature[:id]} %>
            <% elsif feature[:id] == "cust-perf" %>
              <%= render partial: "charts", locals: {feature: feature[:id]} %>
            <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dev-features" id="dev">
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter pad-h-50">
        <div class="container">
          <div class="dev-height">
            <div class="features-title">
              <h1>
                Built for developers
              </h1>
              <h4>
                <em style="color: white;"> we made the integration simple </em>
              </h4>
            </div>
            <div class="dev-items">
              <% @dev.each do |feature| %>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="dev-card">
                    <div class="dev-picto">
                      <i class="fa <%= feature[:fa] %>"></i>
                    </div>
                    <div class="dev-content">

                    <h4 class="dev-title">
                      <%= feature[:title] %>
                    </h4>
                    <p class="dev-text">
                      <%= feature[:text] %>
                    </p>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <video autoplay loop class="fillWidth">
          <source src="<%= asset_path('bkgd_videos/dev.mp4') %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
          <source src="<%= asset_path('bkgd_videos/dev.webm') %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
      <div class="poster hidden">
        <img src="<%= asset_path('bkgd_videos/dev.jpg') %>" alt="">
      </div>
    </div>
  </div>
</div>


  <div class="mission-feature pad-h-100" id="mission">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="features-title">
            <h1>
              What is Apop?
            </h1>
            <h4>
              <em> mission statement </em>
            </h4>
          </div>
          <div class="mission-text">
            <p class="text-justify">
              Apop was founded in 2015 by ecommerce & adverstising executives. We help media sites grow their community on all devices, engage with their customers and ultimately monetize this audience.
            </p>
            <p class="text-justify">
              Media sites usually do not have the time & resources to address the challenge of onsite comments. Very few best practices exist yet although we believe a lot of value lies behind. Our clients use Apop because they know we are 100% focused on providing best-in-class user experience along with strong actionnable analytics.
            </p>
            <p class="text-justify">
              Our developers relentlessly work on providing the best comment user experience to make this space even more relevant & trustful for the end user. We achieve our mission when we are able to increase the number of comments on our clients' websites, increase the relevancy of comments & drive more traffic towards the comment section.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
$( document ).ready(function() {
console.log("document ready");

/************************** ANIMATION ENTRANCE *************************/
// var $animation_elements = $('.item');
// var $window = $(window);

// function check_if_in_view() {
//   var window_height = $window.height();
//   var window_top_position = $window.scrollTop();
//   var window_bottom_position = (window_top_position + window_height);

//   $.each($animation_elements, function() {
//     var $element = $(this);
//     var element_height = $element.outerHeight();
//     var element_top_position = $element.offset().top;
//     var element_bottom_position = (element_top_position + element_height);

//     //check to see if this current container is within viewport
//     if ((element_bottom_position >= window_top_position) &&
//         (element_top_position <= window_bottom_position)) {
//       $element.addClass('pulse');
//        setTimeout(function(){
//           $('.item').removeClass('pulse');
//         }, 2000);
//     } else {
//       $element.removeClass('pulse');
//     }
//   })
// }

// $window.on('scroll resize', check_if_in_view);
// $window.trigger('scroll');

/****************************** chart.js ****************************/
function buildCharts() {
  var line1 = document.getElementById("line1").getContext("2d");
  var line1Data = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
          {
              label: "Number of Comments",
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,0)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: [100, 95, 102, 104, 110, 100, 105]
          },
          {
              label: "Number of Social Interactions",
              fillColor: "rgba(151,187,205,0)",
              strokeColor: "rgba(151,187,205,0)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data: [100, 95, 102, 104, 110, 112, 125]
          },
          {
              label: "Number of Shares",
              fillColor: "rgba(205,151,160,0)",
              strokeColor: "rgba(205,151,160,0)",
              pointColor: "rgba(205,151,160,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgb(205,151,160,1)",
              data: [100, 102, 102, 101, 105, 109, 109]
          }
      ]
  };
  var options = {
    scaleShowHorizontalLines: false,
    scaleFontFamily: "'Roboto'"
  }
  var myLineChart = new Chart(line1).Line(line1Data, options);


  var bar1 = document.getElementById("bar1").getContext("2d");
  var bar1Data = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
          {
              label: "Comment Length (# chars)",
              fillColor: "rgba(220,220,220,0.5)",
              strokeColor: "rgba(220,220,220,0.8)",
              highlightFill: "rgba(220,220,220,0.75)",
              highlightStroke: "rgba(220,220,220,1)",
              data: [100, 95, 120, 130, 125, 127, 135]
          },
          {
              label: "Number rich content shared",
              fillColor: "rgba(151,187,205,0.5)",
              strokeColor: "rgba(151,187,205,0.8)",
              highlightFill: "rgba(151,187,205,0.75)",
              highlightStroke: "rgba(151,187,205,1)",
              data: [100, 110, 102, 103, 110, 100, 120]
          },
          {
              label: "Number of links shared",
              fillColor: "rgba(205,151,160,0.5)",
              strokeColor: "rgba(205,151,160,0.8)",
              highlightFill: "rgba(205,151,160,0.75)",
              highlightStroke: "rgba(205,151,160,1)",
              data: [100, 120, 115, 92, 120, 160, 140]
          }
      ]
  };
  var myBarChart = new Chart(bar1).Bar(bar1Data, options);



  var doughnut1 = document.getElementById("doughnut1").getContext("2d");
  var doughnut1Data = [
      {
          value: 60,
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Desktop"
      },
      {
          value: 10,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Mobile Site"
      },
      {
          value: 30,
          color: "#FDB45C",
          highlight: "#FFC870",
          label: "Mobile App"
      }
  ]
  var myDoughnutChart = new Chart(doughnut1).Doughnut(doughnut1Data,options);
}

/****************************** Animation ****************************/
$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
});



  var custModeration = 0
  var custDesign     = 0
  var custPerf       = 0

  $("#cust-moderation").click(function(){
    var $this = $(this);
    var id = "#show-" + $this.attr("id");
    if (custModeration == 0) {
      $(id).css('display', "flex");
      custModeration += 1;
    } else {
      $(id).css('display', "none");
      custModeration -= 1;
    };
  });

  $("#cust-design").click(function(){
    var $this = $(this);
    var id = "#show-" + $this.attr("id");
    if (custDesign == 0) {
      $(id).css('display', "flex");
      custDesign += 1;
    } else {
      $(id).css('display', "none");
      custDesign -= 1;
    };
  });

  $("#cust-perf").click(function(){
    var $this = $(this);
    var id = "#show-" + $this.attr("id");
    if (custPerf == 0) {
      $(id).css('display', "flex");
      custPerf += 1;
      buildCharts();
    } else {
      $(id).css('display', "none");
      custPerf -= 1;
    };
  });

/******************************** vTicker ****************************/
$('.vticker-list').vTicker({
  speed: 500,
  pause: 3000,
  showItems: 1,
  animation: 'fade',
  mousePause: false,
  height: 0,
  direction: 'up'
});

/********************** HOMEPAGE VIDEO BACKGROUND ********************/
    scaleVideoContainer();

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

  /********************** RESIZE IFRAME ********************/

  autoResize("product-showcase")

  function autoResize(id){
      var newheight;
      var newwidth;

      if(document.getElementById){
          newheight = document.getElementById(id).contentWindow.document.body.scrollHeight;
      }

      document.getElementById(id).height = (newheight) + "px";
  }



});


function scaleVideoContainer() {

    var height = $(window).height() - 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height','85vh');
    var devHeight = $('.dev-height').height() + 150 + 'px'
    $('.dev-features .homepage-hero-module').css('height', devHeight);
};

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() - 5,
    videoWidth,
    videoHeight;

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

    });
};

$('.cta-product').click(function(){
    $('.iframe').removeClass("hidden slideRight").addClass("slideLeft");
    return false;
});

$('.close-module').click(function(){
    $('.iframe').addClass("slideRight").removeClass("slideLeft");
    setTimeout(function(){
      $('.iframe').addClass("hidden");
    }, 900);
    return false;
});

var iFramePosition = $('.iframe').position().top + 19
$(window).scroll(function(){
  if($(window).scrollTop() > iFramePosition){
  } else {
  }
});






</script>
<% end %>
