<!DOCTYPE html>
<html>
  <head>

    <title>Apop | Leverage Comments</title>
    <meta name="description" content="Apop aims to help media sites grow their community on all devices, engage their customers by making comments more relevant and ultimately monetize this audience.">

    <!-- icon in the browser-->
    <link rel="shortcut icon" href="<%= asset_path('megaphone.png') %>"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>

    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield(:after_js) %>

  </body>
</html>
